.container {
    background-image: url('/assets/Imbank.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .card {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    padding: 30px;
    width: 400px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-header {
    margin-bottom: 20px;
  }
  
  .product-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }
  
  h2 {
    color: #003366;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    color: #003366;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
    font-size: 14px;
    transition: border-color 0.3s;
  }
  
  input:focus {
    outline: none;
    border-color: #1dc4e9;
  }
  
  .error {
    color: red;
    font-size: 0.8em;
    margin-top: 4px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
  
  .add-btn, .back-btn {
    flex: 1;
    margin: 0 5px;
    border-radius: 30px;
    padding: 12px 0;
    background: linear-gradient(45deg, #1de9b6, #1dc4e9);
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  
  .add-btn:hover, .back-btn:hover {
    background: #003366;
    transform: scale(1.05);
  }
  
  button mat-icon {
    vertical-align: middle;
  }
  